---
// https://github.com/fontsource/font-files/tree/3ef0dc8e3b625831a3ce7d586194c718491b7c6f/fonts/google/jetbrains-mono
import "@fontsource/jetbrains-mono/400.css";
import "@fontsource/jetbrains-mono/500.css";

import { SITE_NAME, DESCRIPTION } from "../../src/config";

interface Props {
	title: string;
}

// @ts-ignore - TODO figure otu type safety on this
const { frontmatter } = Astro.props;

const isHome = Astro.url.pathname === "/";

const pageTitle = [
	frontmatter.title ? frontmatter.title : undefined,
	isHome ? SITE_NAME : undefined,
]
	.filter(Boolean)
	.join(" | ");
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={DESCRIPTION} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<script>
			// Add this script to detect and mark external links
			document.addEventListener('DOMContentLoaded', (event) => {
				document.querySelectorAll('a').forEach(link => {
					if (link.hostname !== window.location.hostname) {
						link.classList.add('external');
					}
				});
			});
		</script>
	</head>
	<body
		class={`flex flex-col min-h-screen text-gray-500 dark:text-gray-100 ${isHome ? "is-home" : ""}`}
	>
		<header class="w-full max-w-5xl mx-auto px-14 py-8">
			<nav class="top-nav">
				<a href="/posts">POSTS</a>
				<h1 class="centered-title">{isHome ? 'SEVE D. KIM' : pageTitle}</h1>
				<a href="/">INFO</a>
			</nav>
		</header>
		<div class="flex-grow max-w-5xl mx-auto w-full space-y-4 py-16 px-14">
			<main class="max-w-xl">
				<slot />
			</main>
		</div>
		<footer class="w-full max-w-5xl mx-auto px-14 py-8 mt-auto">
			<div class="flex gap-x-16">
				<div class="follow">
					<h3>Follow</h3>
					<ul>
						<li>
							<a href="https://twitter.com/sevedkim">Twitter</a>
						</li>
						<li>
							<a href="https://www.linkedin.com/in/sevedkim"
								>LinkedIn</a>
						</li>
						<li>
							<a href="https://developerproducts.com"
								>Newsletter</a>
						</li>
					</ul>
				</div>
				<div class="connect">
					<h3>Connect</h3>
					<ul>
						<li><a href="mailto:sevedkim@gmail.com">Email</a></li>
					</ul>
				</div>
			</div>
		</footer>
	</body>
</html>

<style is:global>
	html,
	body {
		height: 100%;
	}

	footer a {
		color: inherit;
		text-decoration: none;
	}

	footer a:hover {
		text-decoration: underline;
	}

	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: "JetBrains Mono", system-ui, sans-serif;
		font-size: 12px;
		line-height: 1.2rem;
		background: #13151a;
		background-size: 224px;
	}

	/* Light mode */
	@media (prefers-color-scheme: light) {
		html {
			background: #fffcf0;
		}
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	h1 {
		font-size: 12px;
		font-weight: 500;
		margin-bottom: 0.3rem;
	}

	h2 {
		font-size: 12px;
		font-weight: 500;
	}

	a {
		text-decoration: underline;
	}

	a.external::after {
		content: " ↗";
		display: inline-block;
		margin-left: 0.2em;
		font-size: 0.8em;
		text-decoration: none;
	}

	footer h3 {
		margin-bottom: 1rem;
		font-weight: 500;
	}

	footer ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	footer li {
		margin-bottom: 0;
		line-height: 1.2;
	}

	.top-nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 0;
	}

	.top-nav a {
		text-decoration: underline;
	}

	.centered-title {
		text-align: center;
		margin: 0;
		flex-grow: 1;
	}
</style>